BOT_CHAR = '.'
CHANNELS = ['#shackspace', ]
PLUGINS = ['karma', 'quotes', 'remind', 'replace', 'shack', 'status', 'title']
# or: PLUGINS = '__all__'
NICKNAME = 'shackonista'
PASSWORD = None
SAY_NO = False

REDIS = {
    'HOST': 'redis',
    'PORT': 6379,
    'DB': 0,
}

# used to access the afra space api
# see rustyearth code.fe80.eu
AFRA_TOKEN = 'Hee2noh8aic3iech'
